<?php
            //'dsn' => 'mysql:host=localhost;dbname=mydatabase', // MySQL, MariaDB
            //'dsn' => 'sqlite:/path/to/database/file', // SQLite
            //'dsn' => 'pgsql:host=localhost;port=5432;dbname=mydatabase', // PostgreSQL
            //'dsn' => 'cubrid:dbname=demodb;host=localhost;port=33000', // CUBRID
            //'dsn' => 'sqlsrv:Server=localhost;Database=mydatabase', // MS SQL Server, sqlsrv driver
            //'dsn' => 'dblib:host=localhost;dbname=mydatabase', // MS SQL Server, dblib driver
            //'dsn' => 'mssql:host=localhost;dbname=mydatabase', // MS SQL Server, mssql driver
            //'dsn' => 'oci:dbname=//localhost:1521/mydatabase', // Oracle

return [
    
    // 配置主服务器
    // 'dsn' => 'dsn for master server',
    // 'username' => 'master',
    // 'password' => '',

    // 配置主服务器
    'masterConfig' => [
        'username' => 'root',
        'password' => 'cai1774',
        'charset'=>'utf8',
        'tablePrefix'=>'',
        'attributes' => [
            // use a smaller connection timeout
            PDO::ATTR_TIMEOUT => 10,
        ],
    ],

    // 配置主服务器组
    'masters' => [
        ['dsn' => 'mysql:host=localhost;dbname=pk_test'],
    ],

    // 配置从服务器
    'slaveConfig' => [
        'username' => 'root',
        'password' => 'cai1774',
        'attributes' => [
            // use a smaller connection timeout
            PDO::ATTR_TIMEOUT => 10,
        ],
    ],

    // 配置从服务器组
    'slaves' => [
        ['dsn' => 'mysql:host=localhost;dbname=pk_test'],
    ],
];