<?php
defined('ROOT') OR exit('No direct script access allowed');

return array(

    'xhprof' => array(
        'enable'=>false,       //是否开启性能分析
        'requestTimes' => 1, //每x次请求执行一次性能分析, 产品环境建议设置为10000
        'noBuiltins' => true, // 忽略PHP内置函数，内置函数将不会被分析
        'fileDir'=> ROOT . '/tmp/xhprof',//性能分析结果文件目录
    ),

    //指定请求路由器，默认为CI路由器
    'router' => array(
        'class' => 'app\core\router\CiRouter', //路由器实现类名称
        'configFile' => 'app/config/routes.php' //路由规则配置文件
    ), 

    'logger' => array(
        'class' => 'app\core\logger\FileLogger',     //日志实现类名称
        'dir' => ROOT . '/tmp/logs',//日志目录
        'fileNameFormat'=>'app.%name.%date.log' //日志文件命名格式
    ),

    'i18n' => array(
        'class' => 'app\core\i18n\FileMessageSource', //多国语言实现类名称
        'dir' => 'app/config/lang/' ,  //多国语言配置目录
        'language' => 'zh-CN' //默认的目标语言，系统会根据客户端语言判断，优先使用客户端语言， en-US, zh-TW
    ),

    'cache' => array(
        'class' => 'app\core\caching\MemCache', //缓存实现类
        'useMemcached'=>true, //推荐, memcached客户端已实现一致性Hash
        'servers' => [
            ['host' => 'localhost', 'port' => 11211, 'weight' => 60 ],
            ['host' => 'localhost', 'port' => 11212, 'weight' => 60 ],
        ],
    ),
);