<?php
return array(
	//wen framework
	'Action not exists'												=> 'Action not exists：{action} ',
	'Controller not exists' 										=> 'Controller {controller} not exists，pls check namespace',
	'Missing required parameter when instantiating class' 			=> 'Missing required parameter {name} when instantiating class {class} ',
	'The host property must be specified for every memcache server' =>'The host property must be specified for every memcache server',
	'MemCache requires PHP extension to be loaded'					=>'MemCache requires PHP extension {extension} to be loaded',
	'None of the master DB servers is available'					=>'None of the master DB servers is available',
	'masters DB servers cannot be empty' 							=> 'Masters DB servers cannot be empty',
	'The dsn option must be specified' 								=> 'The dsn option must be specified',
	'cannot create pdo instance' 									=> 'cannot create pdo instance：{errorMsg}',
	'cannot find i18n class' 										=> 'cannot find i18n class',
	'cannot find logger class' 										=> 'cannot find logger class',
	'cannot create logger instance' 								=> 'cannot create logger instance, {logger} not exists',
	'failed to open stream: Permission denied' 						=> 'failed to open stream: Permission denied: {file}',
	'cannot create i18n instance' 									=> 'cannot create i18n instance, {class} not exists',
	'router config file not exists' 								=> 'router config file not exists：{config}',
	'cannot find router class' 										=> 'cannot find router class',
	'cannot create router instance' 								=> 'cannot create router instance, {class} not exists',
	//xhprof
	'unit conversion tips' 											=> '1s = 1000ms = 1000000μs；1KB = 1024 bytes',
	'Existing runs' 												=> 'Existing runs',
	'Function Name' 												=> 'FunctionName',
	'Calls'															=>'Calls',
	'Inc. Wall Time'												=>'Inc. Wall Time(μs)',
	'Ex. Wall Time'													=>'Ex. Wall Time(μs)',
	'Inc. User'														=>'Inc. User',
	'Ex. User'														=>'Ex. User',
	'Inc. Sys'														=>'Inc. Sys',
	'Ex. Sys'														=>'Ex. Sys',
	'Inc. CPU'														=>'Inc. CPU(μs)',
	'Ex. CPU'														=>'Ex. CPU(μs)',
	'Incl. MemUse'													=>'Incl. MemUse(μs)',
	'Excl. MemUse'													=>'Excl. MemUse(μs)',
	'Incl. Peak MemUse'												=>'Incl. Peak MemUse(μs)',
	'Excl. Peak MemUse'												=>'Excl. Peak MemUse(μs)',
	'Incl. Samples'													=>'Incl. Samples',
	'Excl. Samples'													=>'Excl. Samples',
);