<?php
return array(
	//wen框架的提示信息
	'Action not exists'												=> '请求方法：{action} 不存在！',
	'Controller not exists' 										=> '控制器 {controller} 不存在，检查namespace是否正确！',
	'Missing required parameter when instantiating class' 			=> '类{class}实例化时找不到参数{name}',
	'The host property must be specified for every memcache server' => '缓存服务器必须指定host',
	'MemCache requires PHP extension to be loaded'					=> 'MemCache需要安装PHP {extension}扩展',
	'None of the master DB servers is available'					=> '连接数据库失败，找不到有效的主数据库',
	'masters DB servers cannot be empty' 							=> '主数据库配置信息masters不能为空',
	'The dsn option must be specified' 								=> '数据库dsn不能为空',
	'cannot create pdo instance' 									=> '无法创建PHP PDO实例，错误：{errorMsg}',
	'cannot find i18n class' 										=> '找不到i18n类，请在配置文件里设置',
	'cannot find logger class' 										=> '找不到日志类，请在配置文件里设置',
	'cannot create logger instance' 								=> '实例化日志类失败，{logger} 类不存在',
	'failed to open stream: Permission denied' 						=> '没有权限写入数据: {file}',
	'cannot create i18n instance' 									=> '实例化i18n类失败，{class} 类不存在',
	'router config file not exists' 								=> '路由配置文件不存在：{config}',
	'cannot find router class' 										=> '找不到路由器，请在配置文件里设置',
	'cannot create router instance' 								=> '实例化路由器失败，{class} 类不存在',

	//xhprof的提示信息
	'unit conversion tips' 											=> '1s(秒) = 1000ms(毫秒) = 1000000μs(微秒)；1KB = 1024 bytes(字节)',
	'Existing runs' 												=> '存在的数据文件',
	'Function Name' 												=> '函数名',
	'Calls'															=> '调用次数',
	'Inc. Wall Time'												=> '完整耗时(微秒)',
	'Ex. Wall Time'													=> '自身耗时(微秒)',
	'Inc. User'														=> 'Inc. User',
	'Ex. User'														=> 'Ex. User',
	'Inc. Sys'														=> 'Inc. Sys',
	'Ex. Sys'														=> 'Ex. Sys',
	'Inc. CPU'														=> '完整CPU耗时(微秒)',
	'Ex. CPU'														=> '自身CPU耗时(微秒)',
	'Incl. MemUse'													=> '完整使用内存(字节)',
	'Excl. MemUse'													=> '自身使用内存(字节)',
	'Incl. Peak MemUse'												=> '完整使用内存峰值(字节)',
	'Excl. Peak MemUse'												=> '自身使用内存峰值(字节)',
	'Incl. Samples'													=> 'Incl. Samples',
	'Excl. Samples'													=> 'Excl. Samples',
);