<?php
return array(
	'unit conversion tips' => '1s(秒) = 1000ms(毫秒) = 1000000μs(微秒)；1KB = 1024 bytes(字节)',
	'Existing runs' => '存在的数据文件',
	'Function Name' => '函数名',
	'Calls'=>'调用次数',
	'Inc. Wall Time'=>'完整耗时(微秒)',
	'Ex. Wall Time'=>'自身耗时(微秒)',
	'Inc. User'=>'Inc. User',
	'Ex. User'=>'Ex. User',
	'Inc. Sys'=>'Inc. Sys',
	'Ex. Sys'=>'Ex. Sys',
	'Inc. CPU'=>'完整CPU耗时(微秒)',
	'Ex. CPU'=>'自身CPU耗时(微秒)',
	'Incl. MemUse'=>'完整使用内存(字节)',
	'Excl. MemUse'=>'自身使用内存(字节)',
	'Incl. Peak MemUse'=>'完整使用内存峰值(字节)',
	'Excl. Peak MemUse'=>'自身使用内存峰值(字节)',
	'Incl. Samples'=>'Incl. Samples',
	'Excl. Samples'=>'Excl. Samples',
);